/* Default styles for large screens */
.left-panel {
  overflow-y: auto;
  height: 100vh;
  width: 30%;
}
.left-panel h1{
  background: linear-gradient(to right, #0ebbfe, #00c9c3, #c1d830);
  -webkit-background-clip: text; /* Apply the gradient to the text */
  color: transparent; /* Make the text transparent */
}
.left-panel h3 {
  color: #F0F0F0;
}
.search-results {
  color: #F0F0F0;
}
.right-panel {
  width: 70%;
}
.device-details h4{
color: #FFCCCC;
}

/* Mobile view */
@media only screen and (max-width: 768px) {
  .left-panel, .right-panel {
    width: 100%;
  }
}


.map-container {
  background-color: #3E4446;
  display: flex;
}

.left-panel {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
  margin: 0 0 20px 0;
  text-align: center; /* Center the text horizontally within .login-box */
}

.right-panel {
  flex: 2;
}

#leaflet-map {
  height: 100vh;
}

/* Enhanced search box and button styles */
.map-container input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #181A1B;
  color: white;
}

.map-container button.map-button {
  padding: 10px 20px;
  background: linear-gradient(to right, #0ebbfe, #00c9c3, #c1d830);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.map-container button.map-button:hover {
  background: linear-gradient(to right, #0ea2d4, #00a2b1, #aeb820);
}

.search-results > div {
  margin-bottom: 5px; /* Adds spacing between each device */
  border-bottom: 1px solid #ccc; /* Adds a line under each device */
  padding-bottom: 5px; /* Adds some padding at the bottom for better visual */
  padding-top: 35px;
}
.leaflet-bar a {
  background-color: #3E4446;
  color: white;
}

